Name: "RosCoin"
Tag: "ROS"
Algorithm: "X11 (PoW) + Proof of Stake"
BitcoinTalk: "https://bitcointalk.org/index.php?topic=810437.0"
GitHub: "https://github.com/roscoin1/roscoin"
Website: "http://www.roscoin.com"
Twitter: "https://twitter.com/roscoin"
_rpc_host: "127.0.0.1"
_rpc_port: "19092"
_rpc_user: "Roscoinrpc"
_rpc_pass: "Roscoinpass"