!!!
%html{lang:"en"}
  %head
    %title Block Chain Explorer
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %link{href: url("/favicon.ico"), rel: "shortcut icon", type: "image/x-icon"}
    %link{href: "/bootstrap.min.css", rel: "stylesheet"}
    %style body{padding-top:80px;}.panel-coin{height:120px;}

  %body
    .navbar.navbar-default.navbar-fixed-top{role: "navigation"}
      .container
        .navbar-header
          %a.navbar-brand{href: url("/")} Block Explorer
    .container
      .row
        - @coins.each do |name, coin|
          .col-sm-6.col-md-3
            %a{href: url(name)}
              .panel.panel-default.text-center
                .panel-body.panel-coin
                  %img{alt: coin.info['Name'], src: url("/#{coin.info['Tag']}.png")}
                .panel-footer
                  = coin.info['Name']

    .footer
      .container
        %p.text-muted
          2015, <a href="https://github.com/madzebra/bce-explorer/">Block Chain Explorer</a>, v.#{BceExplorer::VERSION}. 
        %p
          Bitcoin donations can be sent to <code>14SZqCreNCQgvgB3z9PGEncad9X5xdMfMh</code>
