%h2 Largest Guesstimated Wallets
%div.alert.alert-info{role: 'alert'} This feature is experimental and inaccurate! 
%table.table.table-hover#largest-wallets
  %thead
    %tr
      %th Rank
      %th Name
      %th Addresses
      %th Balance
  %tbody
    - @wallets.each_with_index do |wallet, index|
      %tr
        %td.text-right= (index + 1)
        %td
          %a{href: url("/wallet/#{wallet[:id]}")}= wallet[:name]
        %td= wallet[:addresses]
        %td= coin_amount wallet[:balance]
